* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
    min-height: 100vh;
    background-color: #F2F2F0;  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 300; */
    font-variation-settings: "slnt" 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-image: url("https://raw.githubusercontent.com/C-LedezmaRodriguez/DEV013-dataverse/main/src/images/2.%20Great%20Wall%20of%20China.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    margin-bottom: 70px;
    width: auto;
    opacity: 110%;
    }

.container h1, p{ 
    color:white;
    /* text-align: center; */
    justify-content: space-evenly;
    align-items: start;

}

.container h1{
    font-size: 25px;
    text-transform: uppercase;
    padding: 40px;
}

.container p{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 100px; 
    height: 100vh;

}

.fList{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    align-items: stretch;
    gap: 7%;
    /* margin: 15%; */
    list-style: none;
    justify-content: center;
}

.cList {
    object-fit: cover;
    /* font-size: 25px; */
    flex-direction: column;
}

.cList img{
    /* max-width: 50%;
    max-width: 1100px;
    max-height: 1200px;
    max-height: 50%; */
    width: 350px;
    height: 350px;
    border-radius: 10%;
    margin-block-start: 2em;
    margin-block-end: 2em;
}
dl {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* itemprop:nth-of-type(2){ */
[itemprop = "name"]{
    font-size: 24px;
    font-weight: bold;
    color: black;
}
dt{
    font-size: 24px;
    font-weight: bold;
}

dd {
    font-size: 18px;
    color: #757577;
}

footer{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 20px;
    background-color: #757577;
    padding: 30px;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 30px;
}

#namePop{
    font-size: 24px;
    font-weight: bold;
}


